@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@1,300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    
}

header{
    background-image: url("../imgaes/bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

nav .logo{
    width: 150px;
    height: 150px;
}

nav .logo img{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
}

nav ul li{
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
}


header .middle{
    margin-left: 200px;
    margin-top: 50px;
}

header .middle h4{
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 100;
}

header .middle h1{
    font-size: 100px;
    font-family: Garamond;
    font-weight: 700;
    line-height: 95px;
}

header .middle h3{
    font-size: 40px;
    font-family: Garamond;
    font-weight: 700;
    word-spacing: 2rem;
}

header .middle p{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */

    
}

.btn-container .button{
    
    background-color: #E0B973;
    padding: 15px 70px;
    border: none;
    color: white;
    border-radius: 7px;
    margin-top: 50px;
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.icon-container h6{
    font-size: 20px;
    font-weight: 500;
    font-family:  Montserrat;
}

.section-one{
    /* height: 100vh; */
    /* padding: 30px auto; */
}

.section-one .j{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
    margin-top: 70px;
}

.container{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first{
    display: flex;
   /* align-items: center; */
   
   margin: 0 70px;
   /* width: 70%; */
}

.left{
    /* flex: 1; */
    margin-right: 90px;
    
}
.right{
    /* flex: 1; */
}

.right .imge{
    width: 600px;
    height: 600px;
}

.right .imge img{
    width: 100%;
}

.left h1{
    font-size: 35px;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 30px;
}

.left  p{
    font-size: 20px;
    width: 400px;
    
}

.left button{
    background-color: #E0B973;
    margin-top: 30px;
    border: none;
    height: 40px;
    width: 200px;
    color: white;
    border-radius: 7px;
    font-weight: 600;
}

.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


.section-second h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  
}
.section-second p{
  font-size: 20px;
  text-align: center;
}

.dir{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.dir .m1{
    margin-right: 10px;
}

footer{
    height: 40vh;
    background-color: #14274A;
    position: relative;
}

/* footer .box{
    height: 200px;
    width: 200px;
    background-color: #14274A;
    transform: rotate(45deg);

    
} */

/* .boxx{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
} */
 footer .box{
    height: 100px;
    width: 100px;
    background-color: #14274A;
    position: absolute;
    left: 46.5%;
    transform: rotate(45deg);
    bottom: 220px;

    
}